node_modules/*
public/*
build/*
js/*
.next/*
.swc/*
config/*
coverage/*
/test/unit/coverage/
/.eslint*
/.prettier*
/jest*
/webpack*
/apollo*
src/__mocks__/*.js

__generated__
/.git
/.vscode